*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
   background-image: linear-gradient(-280deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    font-size: 30px;
    position: relative;

}
#change_button{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 40px;
    gap: 30px;

}
#toggle{
    position: relative;
    align-items: center;
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border: 2px;
    border-radius: 600px;
    cursor: pointer;
   
}
#trigger{
    position: relative;
    color: white;
     align-items: center;
     text-align: center;
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border: 2px;
    border-radius: 600px;
    cursor: pointer;
}
#calculator{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5vh 50vh ;
    background-color: black;
      border: 2px solid black;
    border-radius: 20px;
     box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.7);
     height: 80%;
     overflow: hidden;
}
#first1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    gap: 20px;
}
#operators{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 30px;
    border: 2px solid black;
    margin: 30px;
    background-color: lightgrey;
     border-radius: 10px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5) ;
}
#operators button{
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
   padding: 20px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.7) ;
    cursor: pointer;
}
#operators button:hover{
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    background-color:lightgreen;
}
#numbers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    margin: 30px;
     background-color: lightgrey;
     border-radius: 10px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5) ;
}
#numbers button{
    font-size: 28px;
    font-weight: bold;
     border-radius: 10px;
   padding: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.7) ;
    cursor: pointer;
}
#numbers button:hover{
    background-color: darksalmon;
}
#perform{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    margin: 30px;
     background-color: lightgrey;
     border-radius: 10px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5) ;
}
#perform button{
    font-size: 28px;
    font-weight: bold;
     border-radius: 10px;
   padding: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.7) ;
    cursor: pointer;

}
#perform button:hover{
    background-color:crimson;
}
#displayResult{
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 3px solid none;
    border-radius: 20px;
    box-shadow:4px 4px 10px 4px rgba(0, 0, 0, 0.5) ;
}
#displayResult:hover{
       transform: scale(1.05) translateY(2px);
       transition: 0.5s;
       border-color:red;
}
#operation{
    display: flex;
    width: 100%;
    font-size: 20px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
;
}
.lantern-container {
    position: absolute;
  display: flex;
  justify-content: center;
  gap: 270px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.lantern {
    bottom: -200px;
  position: relative;
  animation: floatUp 6s ease-in-out infinite alternate;
}

/* Only show when dark mode is active */
.dark-mode-only {
  display: none;
}
body.dark .dark-mode-only {
  display: flex;
}

#anime{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 150px;
    
}
#firstpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing:border-box;
    padding: 40px;
    gap: 100px;
    
}
#one{
  height: 100px;
  width: 100px;
  background-color: lightblue;
  position: absolute;
  left: -400px;
  opacity: 0;
}
#two{
  height: 100px;
  width: 100px;
  background-color:pink;
  position: absolute;
  right: -400px;
   opacity: 0;
}
#secpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 100px;
    position: relative;
    box-sizing:border-box;
}

#three{
  height: 100px;
  width: 100px;
  background-color:yellow;
   position: absolute;
  left: -400px;
   opacity: 0;
}
#four{
  height: 100px;
  width: 100px;
  background-color:lightgreen;
   position: absolute;
  right: -400px;
   opacity: 0;
}


#calc{
    font-size: 60px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#calc button{
    display: block;
    background-color: lightgrey;
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    gap: 50px;
    left:370px;
    color: black;
}
#calc span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px); /* Starting point */
}
#calc span {
 background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#calc span button{
    border: 4px solid grey;
 background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



